@model PolishProgramer.Models.BlogPost;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>Add Post
    </p>
@using (Html.BeginForm())
{
    Html.LabelFor(a => a.Author);
   

}